* {
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
}
.container{
    width: 100%;
    height: 500px;
    margin-top: 70px;
    background: aqua;
}
.footer{
    width: 100%;
    height: 70px;
    display: flex;
    background: black;
}
